.mother {
  display: grid;
  grid-template-rows: 2, 1fr;
  height: 300px;
  grid-template-columns: 1fr 1fr;
}
.cuadro-fotos {
  display: grid;
  background-color: rgba(179, 36, 36, 0.815);
  margin: 1%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.otrawea {
  margin: 1%;
  background-color: beige;
}
.one {
  grid-row: 1;
  grid-column: 1;
border: solid 5px white;


}
.two {
grid-column: 1;
grid-row: 2;

border: solid 5px white;
}
.three {
grid-column: 1;
grid-row: 3;

border: solid 5px white;
}
.four {
grid-template-columns: 2;
grid-row: 1/4;

border: solid 5px white;
}
