.img-bebes{
    display: flex;
    justify-content: center;

}
.bb{
    border: 1px solid black; 
    width: 70%;
    height: 300px;
}
.pop-hijo{
    margin-bottom: 50px;
    width: 27%;
    height:300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.pop-hijo1{
    margin-bottom: 50px;
    width: 27%;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container-pop{
    
    display: flex;
    gap: 5%;
    justify-content: center;
    flex-wrap: wrap;
}
.button{

    display: flex;
    justify-content: center;
    padding: 10px;
}
.gpt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}