* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background-color: rgb(244, 244, 245);
  color: rgb(43, 44, 46);
}

.promocion {
  font-size: smaller;
  text-align: center;
  background-color: rgb(43, 44, 46);
  color: rgb(244, 244, 245);
}
.navbar {
  height: 120px;
  margin-inline: 2%;
}
.nav-item {
  font-size: larger;
  padding: 15px;
}
.logo-nav {
  height: 50px;
}
.nav-logo {
  position: absolute;
  left: 42%;
  top: 8%;
}
.navbar-nav {
  margin-left: 20%;
  padding-top: 5%;
}
.carousel{
  margin-inline: 2%;
}
.img-carrusel {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}
.productos-index {
  position: relative;
  text-align: center;
}
.grilla-padre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "one two three four "
    "five five six  six ";
  margin-inline: 2%;
  margin-top: 20px;
  gap: 2%;
  width: 96%;

}

.grilla-hijo-one {
  grid-area: one;
  height: 45vh;
  display: flex;
  background-image: url(./img/ejemplo/img-ejemplo.jpg);
  background-size: 45vh 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.grilla-hijo-two {
  grid-area: two;
  height: 45vh;
  width: auto;
  display: flex;
  background-image: url(./img/ejemplo/img-ejemplo.jpg);
  background-size: 45vh 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.grilla-hijo-three {
  grid-area: three;
  height: 45vh;
  width: auto;
  display: flex;
  background-image: url(./img/ejemplo/img-ejemplo.jpg);
  background-size: 45vh 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.grilla-hijo-four {
  grid-area: four;
  height: 45vh;
  width: auto;
  display: flex;
  background-image: url(./img/ejemplo/img-ejemplo.jpg);
  background-size: 45vh 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.grilla-hijo-five {
  grid-area: five;
  height: 43vh;
  width: auto;
  display: flex;
  background-image: url(./img/ejemplo/img-ejemplo.jpg);
  background-size: 600px 45vh;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.grilla-hijo-six {
  grid-area: six;
  height: 43vh;
  width: auto;
  display: flex;
  background-image: url(./img/ejemplo/img-ejemplo.jpg);
  background-size: 600px 45vh;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-productos {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 7px;
}
.text-productos-1 {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  padding: 7px;
}

.svg {
  background-image: url("./img/ejemplo/Icon_STARS.svg");
}
.colecciones {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  margin-inline: 1%;
}
.text-colecciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  margin-top: auto;
  background-color: rgba(214, 215, 217);
}

.grilla-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.subs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-index {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.user-form {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  gap: 10px;
}

.form-control {
  border-color: black;
}
.text-footer-logo {
  width: 60%;
}
.grilla-footer-hijo {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 99%;
  padding-top: 10px;
  padding-inline: 10px;
}
.logo-footer {
  height: 80px;
  position: absolute;
  left: 25%;
  margin-top: 2%;
}
.footerend {
  font-size: medium;
  margin-inline: 2%;
}
p {
  margin-bottom: auto !important;
}
.titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.button-59 {
  align-items: center;
  background-color: white;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}